.galeri {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.card {
    flex: 1 1 250px;
    max-width: 300px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
    overflow: hidden;
    text-align: center;
    padding: 10px;
}

.card img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
}

/* Responsif untuk layar kecil */
@media (max-width: 768px) {
    .galeri {
        flex-direction: column;
        align-items: center;
    }

    .card {
        max-width: 90;
    }
}